

<div>
<h1 id="skills-tech" class="text-center">Habilidades Ténicas</h1>
<div class="container">

    <div class="row1">
            <div class="separate">
                <div class="separate_tool">JavaScript</div>
                <div class="separate_img">
                  <img src="./assets/images/habilidades/javascript.png" class="size-img">
                </div>
            </div>
            <div class="separate">
                <div class="separate_tool">HTML5</div>
                <div class="separate_img">
                  <img src="./assets/images/habilidades/html-5.png" class="size-img">
                </div>
            </div>
            <div class="separate">
                <div class="separate_tool">CSS</div>
                <div class="separate_img">
                  <img src="./assets/images/habilidades/css.png" class="size-img">
                </div>
            </div>
            <div class="separate">
                <div class="separate_tool">Bootstrap</div>
                <div class="separate_img">
                  <img src="./assets/images/habilidades/bootstrap.png" class="size-img">
                </div>
            </div>
    </div>

    <div class="row1">
            
            <div class="separate">
                <div class="separate_tool">Figma</div>
                <div class="separate_img">
                  <img src="./assets/images/habilidades/figma1.png" class="size-img">
                </div>
            </div>
            <div class="separate">
                <div class="separate_tool">npm</div>
                <div class="separate_img">
                  <img src="./assets/images/habilidades/npm.png" class="size-img">
                </div>
            </div>
            <div class="separate">
                <div class="separate_tool">Nodejs</div>
                <div class="separate_img">
                  <img src="./assets/images//habilidades/node.jpg" class="size-img">
                </div>
            </div>
            <div class="separate">
                <div class="separate_tool">Office</div>
                <div class="separate_img">
                  <img src="./assets/images/habilidades/office.png" class="size-img">
                </div>
            </div>
            
    </div>

    <div class="row1">
            
          
           
    </div>

    <div class="row1">
           
            <div class="separate">
                <div class="separate_tool">Git</div>
                <div class="separate_img">
                  <img src="./assets/images/habilidades/git.png" class="size-img">
                </div>
            </div>
            <div class="separate">
                <div class="separate_tool">Firebase</div>
                <div class="separate_img">
                  <img src="./assets/images/habilidades/firebase.png" class="size-img">
                </div>
            </div>
            <div class="separate">
                <div class="separate_tool">Angular</div>
                <div class="separate_img">
                  <img src="./assets/images/habilidades/angular.png" class="size-img">
                </div>
            </div>       
    </div>

   
</div>
</div>

