<div class="bg-1"  id="contact">
        <div class="container">
          <h1 class="text-center">Contáctame</h1>
          <p class="text-center">¿Deseas contactarme?, escríbeme al correo:  </p>
          <p class="text-center">
          <span class="glyphicon glyphicon-envelope"></span> mariajosegmezcampo@gmail.com</p>
          <p class="text-center">
          <span class="glyphicon glyphicon-map-marker"></span>Santiago de Chile</p>
        </div>
        <div class="container spaces">
                <div class="row text-center">
                  <div class="inline">
                    <a href="https://www.linkedin.com/in/mariajosegomezcampos/" target="_b">
                      <img class="size-logo-contactame" src="./assets/images/contactame/linkedin2.png"> </a>
                  </div>
                  
                  <div class="inline">
                    <a href="https://github.com/mariajosegomezcampos" target="_b">
                      <img class="size-logo-contactame" src="./assets/images/contactame/gitok.jpg"> </a>
                  </div>
                </div>
              </div>
    </div>
   
        
        