<div class="bg-1">
        <div class="container">
          <h1 class="text-center" id="contact">Contáctame</h1>
          <p class="text-center">¿Deseas contactarme?, escríbeme al correo:  </p>
            <p class="text-center">Mariajosegomezcampo@gmail.com</p>
            <div class="">
                <p class="text-center">santiago de chile</p>
              </div>
        </div>
        <div class="container spaces">
                <div class="row text-center">
                  <div class="inline">
                    <a href="https://pe.linkedin.com/in/greciagutierreza" target="_b">
                      <img class="size-logo-contactame" src="./assets/images/contactame/linkedin2.png"> </a>
                  </div>
                  
                  <div class="inline">
                    <a href="https://github.com/Grecia2727?tab=repositories" target="_b">
                      <img class="size-logo-contactame" src="./assets/images/contactame/gitok.jpg"> </a>
                  </div>
                </div>
              </div>
    </div>
   
        
        