<div class="bg-1">
        <div class="container mt-3 text-center">
          <h1 id="work" class="color-black">Mis proyectos</h1>
          <!-- <div class="row slideanim mt-4 container"> -->

            <!-- PROYECTO 1 -->
                <div class="col-lg-4">
                    <div class="card h-100 thumbnail border">
                        <img class="img-responsive1" src="./assets/images/burger.jpeg" alt="Card image cap">

                      <div class="card-body text-center">

                          <h3  class="">Burger Queen</h3>
                          <p class="card-text text-justify"> Desarrollo y diseño de interfaz web para sistema de gestión de restaurantes, usando el Framework Angular y firebase como base de datos.</p>
                        <a href="https://burgerqueen-62c12.firebaseapp.com" class="btn" target="_blank"> Demo </a>
                        <a href="https://github.com/mariajosegomezcampos/SCL011-Burger-Queen" class="btn" target="_blank"> Código </a>
                      </div>
                    </div>
                  </div>

                 <!-- PROYECTO 2 -->
          
                  <div class="col-lg-4">
                      <div class="card h-100 thumbnail border">
                          <img class="img-responsive2" src="./assets/images/tictac.jpeg" alt="Card image cap">
  
                        <div class="card-body text-center">
  
                            <h3 class="">Tic tac toe</h3>
                            <p class="card-text text-justify">Videojuego de 3 en raya,también conocido tic tac toe en inglés,para celulares y tabletas, implementando React Native Expo.

                              </p>
                          <a href="https://expo.io/@mariagomez/michi" class="btn" target="_blank"> Demo </a>
                          <a href="https://github.com/mariajosegomezcampos/SCL011-Tic-Tac-Toe" class="btn" target="_blank"> Código </a>
                        </div>
                      </div>
                    </div>
<!--                   
                  PROYECTO 3 -->
              
                    <div class="col-lg-4">
                        <div class="card h-100 thumbnail border">
                            <img class="img-responsive3" src="./assets/images/ee.jpeg" alt="Card image cap">
    
                          <div class="card-body text-center">
                              <h3 class="">Cifrado Cesar</h3>
                              <p class="card-text text-justify"> Éste proyecto se realizar un encriptador de texto. Se introduce el texto y un número secreto, y te retornará tu mensaje cifrado. Éste mismo mensaje lo puedes enviar a tu crush junto con el número secreto y él o ella podra introducirlo en la web app y podrá rescatar el mensaje secreto!!.</p>
                            <a href="https://mariajosegomezcampos.github.io/SCL011-Cipher/src/index.html" class="btn" target="_blank"> Demo </a>
                            <a href="https://github.com/mariajosegomezcampos/SCL011-Cipher" class="btn" target="_blank"> Código </a>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
        
               
    
       
    
          
             
        
     