<div class="bg-1">
        <div class="container mt-3 text-center">
          <h1 id="work" class="color-black">Mis proyectos</h1>
          <div class="row slideanim mt-4 container">

 <!-- Proyecto 1 de 3: red social-->
 
    <h4 class="text-center titlePortfolio">red social</h4>
    <div class="card h-100 thumbnail border">
      <img class="card-img-top img-proyectos" src="./assets/images/social.jpeg" alt="Proyecto">
      <div class="card-body text-center">
        <a href="" class="btn" target="_blank"> Demo </a>
        <a href="" class="btn" target="_blank"> Código </a>
      </div> 
    </div>
  
    <!-- Proyecto 2 de 3: Data Dashboard -->
    <div class="col-lg-4">
        <h4 class="text-center titlePortfolio">Data Dashboard</h4>
        <div class="card h-100 thumbnail border">
          <img class="card-img-top img-proyectos" src="./assets/images/burger.jpeg" alt="Proyecto Data Dashboard">
          <div class="card-body text-center">
              <a href="" class="btn" target="_blank"> Demo </a>
              <a href="" class="btn" target="_blank"> Código </a>
            </div> 
          </div>
        </div>
      </div>

    </div>
  </div>
        
               
    
       
    
          
             
        
     