
      
      
      
      <section id='about' class="container text-center"  >
     <div class="row section-header has-bottom-sep" data-aos="fade-up">
                <div class="">
                   <h1 id="aboutMe" class="color-black"> Acerca de mi</h1>
                    <p>¡Hola Mundo!</p>
                    <h2>Soy Maria jose </h2>
                </div>
            </div>
                <div class="photo"> 
             <a href="#" class="author"></a>
            </div>
            <div id="home" class="tab-pane fade in active">     
                        <p class="perfil"> Soy Front-end Developer y Enfermera de profesión.
                    Mi foco es desarrollar soluciones óptimas  e innovadoras en App Web mediante sostenibilidad, adaptabilidad, autoaprendizaje, inclusión y  trabajo colaborativo.
                    Implementando metodologías ágiles, como clave para facilitar el cambio en procesos de trasformación digital.Me defino como curiosa de nacimiento y con alto sentido social.
                    </p>
                <div id="CV" >
                    <a href="https://drive.google.com/file/d/0BysrW0xRpwZzQU5CQzV4Nmd6TUEyRm9YbVZRMTlGY1JWaGdv/view?usp=sharing" class="btn btn-outline" id="CvAB"><i class=""></i> Descarga mi CV!</a>
                </div>
            </div> 
        </section> 
        <br>
  <br>
  <br>
       