


<div class="header">
        <div class="info">
          <div class="meta">
                <h1 class="name">
                        &lt; MARIA JOSE GOMEZ  &gt;
                      <br>
                    </h1>
                    <h3 class="color-black">Front-end Developer</h3>
            <!-- <br>
            <br>
            <br>
            <h2 class="color-black">Maria Jose Gomez</h2>
            <h2 class="color-black">Front-end Developer </h2> -->
          </div>
        </div>
      </div>
